<h1>Listing catagories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catagories.each do |catagory| %>
  <tr>
    <td><%= catagory.name %></td>
    <td><%= catagory.kind %></td>
    <td><%= link_to 'Show', catagory %></td>
    <td><%= link_to 'Edit', edit_catagory_path(catagory) %></td>
    <td><%= link_to 'Destroy', catagory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Catagory', new_catagory_path %>
