<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= Settings.title %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <div id="wrapper"><!-- #wrapper -->

      <header><!-- header -->
      <h1><a href="#"><%= Settings.header %></a></h1>
      </header><!-- end of header -->

      <nav><!-- top nav -->
      <div class="menu">
        <%= render_navigation %>
      </div>
      </nav><!-- end of top nav -->


      <section id="main"><!-- #main content and sidebar area -->
      <div id="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div id="content">
        <%= yield %>
      </div>

      <aside>
      <section>
      <h3><%= t('Categories') %></h3>
      <%= render 'shared/categories'%>
      </section>

      <section>
      <h3><%= t('Dashboard') %></h3>
      <% if current_user %>
        <%= link_to rest_i18n('New', 'post'), new_post_path %> | <%= link_to rest_i18n('Listing', 'post'), posts_path %><br/>
        <%= link_to rest_i18n('New', 'category'), new_category_path %> | <%= link_to rest_i18n('Listing', 'category'), categories_path %><br/>
        <%= link_to t('Sign out'), destroy_user_session_path %>
      <% else %>
        <%=  link_to t('Sign in'), new_user_session_path %><br/>
        <%=  link_to t('Sign up'), new_user_registration_path %>
      <% end %>

      </section>

      <section>
      <h3><%= t('Recent Articles') %></h3>
      <%= render "shared/last_posts" %>
      </section>

      </aside>

      </section><!-- end of #main content and sidebar-->

      <footer>
      <section id="footer-area">
      <%= Settings.title %> © <%= Settings.author %>.  Powered by <%= link_to 'BloodStone', 'https://github.com/zhooul/bloodstone' %>.
      </section><!-- end of footer-area -->
      </footer>

    </div><!-- #wrapper -->
    <script>

      var _gaq = [['_setAccount', '<%= Settings.google_analytics %>'], ['_trackPageview']];

      (function(d, t) {

        var g = d.createElement(t),

        s = d.getElementsByTagName(t)[0];

        g.async = true;

        g.src = '//www.google-analytics.com/ga.js';

        s.parentNode.insertBefore(g, s);

      })(document, 'script');

    </script>

    <!-- Free template created by http://freehtml5templates.com -->
  </body>
</html>
